[data-page='header'] {
  font-family: 'AVELIRE';
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(228 236 245);
  z-index: 1000;
  position: relative;

  .brand-name {
    font-weight: bold;
    font-size: 22px;
  }
  .buttons {
    a {
      margin: 50px;
      font-size: 20px;
      
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
}
